<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918493106832-0kbp415la6677pmcltd247meug6n7ujv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918493106832-0kbp415la6677pmcltd247meug6n7ujv</string>
	<key>API_KEY</key>
	<string>AIzaSyA112ra5lA6DBQGxyvE21zRZxNsLQzfZLc</string>
	<key>GCM_SENDER_ID</key>
	<string>918493106832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.zap.whitelabel-demo</string>
	<key>PROJECT_ID</key>
	<string>premio-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>premio-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918493106832:ios:c8434b4798df75eb4abe15</string>
</dict>
</plist>