<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710131684076-neiegdsp7qef3evefhrri72r6bm25r6o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710131684076-neiegdsp7qef3evefhrri72r6bm25r6o</string>
	<key>API_KEY</key>
	<string>AIzaSyDhZ9Zul9rSRKn_p9sXhNHHkMI4sc6Q_KQ</string>
	<key>GCM_SENDER_ID</key>
	<string>710131684076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.zap.whitelabeldemo.frankie</string>
	<key>PROJECT_ID</key>
	<string>premio-whitelabel-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>premio-whitelabel-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710131684076:ios:2c4a1a727fe12c7641cbc9</string>
</dict>
</plist>