<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885566605623-5iscoqqe2qq5vvim6boet7as5a0o5q24.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885566605623-5iscoqqe2qq5vvim6boet7as5a0o5q24</string>
	<key>API_KEY</key>
	<string>AIzaSyCen1ZPJSM_--eLTmUbqwqgAXlWsUGjXc8</string>
	<key>GCM_SENDER_ID</key>
	<string>885566605623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.zap.zapapp.newbeta</string>
	<key>PROJECT_ID</key>
	<string>zap-app-new-beta</string>
	<key>STORAGE_BUCKET</key>
	<string>zap-app-new-beta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885566605623:ios:458c8367f3f65d10c132b2</string>
</dict>
</plist>