name: Flutter

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
 
  build-android:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'true'
    - uses: actions/setup-java@v1.4.3
      with:
        java-version: '12.x'
    - uses: subosito/flutter-action@v1.4.0
      with:
        flutter-version: '1.17.x'
        channel: 'beta'
    - name: install NDK
      run: echo "y" | sudo /usr/local/lib/android/sdk/tools/bin/sdkmanager --install "ndk;20.0.5594570" --sdk_root=${ANDROID_SDK_ROOT}
    - name: download libzap
      run: wget https://github.com/djpnewton/libzap/releases/download/v13/android.zip
    - name: extract libzap
      run: mkdir -p native-libraries/android; cd native-libraries/android; unzip ../../android.zip
    - run: flutter pub get
    #- run: flutter test
    - run: flutter build apk
    - name: upload apk
      uses: actions/upload-artifact@v1
      with:
        name: app-release-android.apk
        path: build/app/outputs/apk/release/app-release.apk

  build-ios:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'true'
    - uses: subosito/flutter-action@v1.4.0
      with:
        flutter-version: '1.17.x'
        channel: 'beta'
    - name: download libzap
      run: wget https://github.com/djpnewton/libzap/releases/download/v13/ios.zip
    - name: extract libzap
      run: mkdir -p native-libraries/ios; cd native-libraries/ios; unzip ../../ios.zip
    - run: flutter pub get
    #- run: flutter test
    - run: flutter build ios --release --no-codesign
    - name: upload build
      uses: actions/upload-artifact@v1
      with:
        name: app-release-ios.app
        path: build/ios/iphoneos/Runner.app
